<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Pokedex</title>
  </head>
  <body>
    <header>
      <h1>Pokedex </h1>
    </header>
    <main>
        <section id="cards">
            <% pokedex.forEach((pokemon) => { %>
    
                <div class="card">
                    <img src=" <%= pokemon.img %>" alt="" >
                    <h2><%= pokemon.name %></h2>
                    <p class="description"><%= pokemon.description %></p>
                    <p class="type">Type: <%= pokemon.type %></p>
                </div>
            <% }) %>
    
        </section>

        <section id="record">
            <h2> Record </h2>

            <form action="">

                <label for="name">Name:</label>
                <input type="text" id="name" name="name">

                <label for="description" >Description:</label>
                <input type="text" id="description" name="description">

                <label for="type"> Type:</label>
                <input type="text" id="type" name="type">

                <label>Image link:</label>
                <input type="text" id="image" name="image">

                <button id="btnRecord" type="submit">+</button>


            </form>
        </section>
    </main>
  </body>
</html>
